<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionEmpleados.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GestionEmpleados.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Lenguage" serializeAs="String">
                <value>en_EN</value>
            </setting>
        </GestionEmpleados.Properties.Settings>
    </userSettings>
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.Windows.Data" switchName="SourceSwitch">
				<listeners>
					<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WPFTrace.log" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="Information" />
		</switches>
	</system.diagnostics>
</configuration>

